body {
    font-family: Arial, sans-serif;
    background-image: url('img/University_of_Peshawar.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #007BFF;
}

img {
    display: block;
    margin: 0 auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="button"] {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

input[type="button"]:hover {
    background: #0056b3;
}

/* Additional styles for centering elements */

.center {
    text-align: center;
}

/* Media query for responsiveness */
@media (max-width: 480px) {
    form {
        max-width: 90%;
    }
}
